body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1a1a1d;
  color: #f4f4f4;
  padding: 20px;
  border-bottom: 5px solid #bb2828;
}

header h1 {
  margin: 0;
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}

nav {
  display: flex;
}

nav a {
  text-decoration: none;
  padding: 15px 30px;
  margin: 0 10px;
  background-color: #bb2828;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: #ce4a11;
}

main {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: auto auto auto auto;
  margin: 20px;
  grid-gap: 10px;
}

aside {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  grid-row: 1/5;
}

aside h2 {
  color: #bb2828;
  font-size: 2rem;
  margin-bottom: 15px;
}

aside p,
aside ul {
  font-size: 1.1rem;
  line-height: 1.6;
}

footer {
  text-align: center;
  color: white;
  background-color: #1a1a1d;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  margin-top: 5px;
}

.race-information {
  background-color: #fff;
  padding: 20px;
  padding-left: 30px;
  border-radius: 10px;
  margin: 0;
  grid-column: 2;
  grid-row: 1;
}

.race-information h2 {
  color: #bb2828;
  font-size: 2rem;
  margin-bottom: 15px;
}

.race-information a {
  text-decoration: none;
  color: #bb2828;
  font-weight: 600;
}

.race-information a:hover {
  text-decoration: underline;
  color: #761616;
}

.qualifying-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin: 0;
  grid-column: 2;
  grid-row: 3;
}

.results-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin: 0;
  grid-column: 2;
  grid-row: 4;
}

.podium {
  background-color: #fff;
  border-radius: 10px;
  padding: 5px;
  margin: 0;
  grid-column: 2;
  grid-row: 2;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 1em;
  font-family: Arial, sans-serif;
  text-align: left;
  padding-bottom: 30px;
}

table thead tr {
  background-color: #bb2828;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

table th,
table td {
  padding: 12px 15px;
  border: 1px solid #dddddd;
}

table tbody tr {
  border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
  background-color: #f3ebe7;
}

table a {
  text-decoration: none;
  color: #bb2828;
  font-weight: 600;
}

table a:hover {
  text-decoration: underline;
  color: #761616;
}

button {
  color: #bb2828;
  font-weight: bold;
  background-color: transparent;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  white-space: nowrap;
}

button:hover {
  text-decoration: underline;
}

.podium-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-top: 10px;
  gap: 5px;
}

.podium-item {
  text-align: center;
  padding: 10px;
  border-radius: 10px 10px 0 0;
  width: 250px;
  position: relative;
  margin: 0;
}

.podium-item.first {
  background-color: #ffd700;
  color: #9d3c08;
  height: 200px;
}

.podium-item.second {
  background-color: #c0c0c0;
  color: #363333;
  height: 140px;
}

.podium-item.third {
  background-color: #cd7f32;
  color: #442506;
  height: 100px;
}

.podium-item .position {
  font-size: 2rem;
  font-weight: bold;
}

.podium-item .driver {
  display: block;
  margin-top: 10px;
  font-size: 1rem;
  font-weight: bold;
}

.podium-item .points {
  display: block;
  margin-top: 5px;
  font-size: 0.9rem;
}

.select-race-message {
  background-color: #fff;
  color: #bb2828;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
}
